<div *ngIf="offer" class="d-flex border border-dark rounded-3 mt-3 shadow overflow-hidden">
  <div class="col-2">
    <img [src]="offer.imageUrl3" class="img-fluid" style="height: 100px">
  </div>
  <div class="col-8 d-flex py-2">
    <div class="d-flex flex-column col-12">
      <div>
        <h5>{{offer.title}}</h5>
      </div>
      <hr class="m-0 p-0">
      <div class="d-flex col-12">
        <span class="col">
          <small style="font-weight: bold">Cena</small>
          <br/>{{offer.price}} <small style="font-weight: bold; font-size: 9px">PLN</small></span>
        <span class="col">
          <span class="col">
          <small style="font-weight: bold">Miasto</small>
          <br/>{{offer.city}}</span>
          </span>
        <span class="col">
          <span class="col">
          <small style="font-weight: bold">Kraj</small>
          <br/>{{offer.country}}</span>
          </span>
        <span class="col">
          <span class="col">
          <small style="font-weight: bold">Kod pocztowy</small>
          <br/>{{offer.zipCode}}</span>
        </span>
      </div>
    </div>


  </div>
  <div class="col-2 d-flex align-items-center justify-content-end pe-5">
    <button [routerLink]="['/offers', offer.id]" class="btn btn-dark">Zobacz</button>
  </div>
</div>
