<div class="mt-5 w-100" style="  max-width: 800px;" *ngIf="form">
  <h2>{{isEditing() ? 'Edytuj' : 'Dodaj'}} ofertę</h2>
  <hr />

  <form class="mt-5" [formGroup]="form" (ngSubmit)="submitForm()">
    <h5 class="mt-5">Opis</h5>
    <hr>


    <div class="form-group">
      <label for="title">Tytuł</label>
      <input
        type="text"
        [formControlName]="getFormControlName('title')"
        class="form-control"
        id="title"
        placeholder="Wpisz tytuł"
      />
    </div>
    <div class="form-group">
      <label for="price">Cena</label>
      <input
        type="number"
        class="form-control"
        id="price"
        placeholder="Wpisz cenę"
        [formControlName]="getFormControlName('price')"
      />
    </div>



    <div class="form-group">
      <label for="description">Opis</label>
      <textarea
        class="form-control"
        id="description"
        [formControlName]="getFormControlName('description')"
        rows="3"
      ></textarea>
    </div>

    <h5 class="mt-5">Dane lokalizacji</h5>
    <hr>

    <div class="form-group">
      <label for="address">Adres</label>
      <input
        class="form-control"
        id="address"
        placeholder="Wpisz adres"
        [formControlName]="getFormControlName('address')"
      />
    </div>

    <div class="form-group">
      <label for="city">Miasto</label>
      <input
        class="form-control"
        id="city"
        placeholder="Wpisz miasto"
        [formControlName]="getFormControlName('city')"
      />
    </div>


    <div class="form-group">
      <label for="zipCode">Kod pocztowy</label>
      <input
        class="form-control"
        id="zipCode"
        placeholder="Wpisz kod pocztowy"
        [formControlName]="getFormControlName('zipCode')"
      />
    </div>

    <div class="form-group">
      <label for="country">Państwo</label>
      <input
        class="form-control"
        id="country"
        placeholder="Wpisz państwo"
        [formControlName]="getFormControlName('country')"
      />
    </div>

    <h5 class="mt-5">Dane kontaktowe</h5>
    <hr>

    <div class="form-group">
      <label for="contact">Kontakt</label>
      <input
        class="form-control"
        id="contact"
        placeholder="Wpisz kontakt"
        [formControlName]="getFormControlName('contact')"
      />
    </div>

    <div class="form-group">
      <label for="phone">phone</label>
      <input
        class="form-control"
        id="phone"
        placeholder="Cena"
        [formControlName]="getFormControlName('phone')"
      />
    </div>

    <div class="form-group">
      <label for="email">email</label>
      <input
        class="form-control"
        id="email"
        placeholder="Wpisz email"
        [formControlName]="getFormControlName('email')"
      />
    </div>

    <div class="form-group">
      <label for="website">Strona www</label>
      <input
        class="form-control"
        id="website"
        placeholder="Wpisz stronę www"
        [formControlName]="getFormControlName('website')"
      />
    </div>

    <div class="form-group">
      <label for="imageUrl">Adres zdjęcia</label>
      <input
        class="form-control"
        id="imageUrl"
        placeholder="Wpisz adres url zdjęcia"
        [formControlName]="getFormControlName('imageUrl')"
      />
    </div>


    <hr class="my-5">
    <button type="submit" [disabled]="form.invalid" class="btn btn-primary w-100">{{isEditing() ? 'Edytuj' : 'Dodaj'}}</button>
    <hr class="mx-5 px-5">
    <button type="submit" class="btn btn-secondary w-100">Anuluj</button>
  </form>
</div>
