<div class="h-100 d-flex justify-content-center align-items-center shadow">
  <div class="card bg-black text-white p-4" style="width: 50%">
    <h3>Zarejestruj</h3>
    <hr>

    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group mt-5">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>

      <div class="form-group mt-5">
        <label for="exampleInputPassword1">Powtórz hasło</label>
        <input type="password" class="form-control" placeholder="Password">
      </div>


      <hr class="mt-5">
      <button type="submit" class="btn btn-primary">Zarejestruj</button>
    </form>

  </div>
</div>
