<div class="d-flex" style="gap: 1rem">
  <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a class="btn btn-primary" href="#">Go somewhere</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a class="btn btn-primary" href="#">Go somewhere</a>
    </div>
  </div>
</div>
