<div class="d-flex px-5">
  <div class="col-12 col-lg-6 d-flex align-items-center">
    <ul class="list-unstyled text-white text-uppercase">
      <li >Kontakt</li>
      <li class="my-4">O nas</li>
      <li>Baza wiedzy</li>
    </ul>
  </div>
  <div class="col-12 col-lg-6" style="text-align: right">
<img src="https://i.imgur.com/C1UxWdL.jpeg" alt="test" class="img-fluid" style="height: 200px" />
  </div>
</div>
