<div class="col-12">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Nazwa waluty</th>
      <th scope="col">Przelicznik</th>
      <th scope="col">Wartość po przeliczeniu</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let currency of currencies">
      <td>{{currency.baseCurrency}}</td>
      <td>{{currency.rate}}</td>
      <td>{{currency.converted}} <small style="font-weight: bold; font-size: 9px">{{currency.baseCurrency}}</small></td>
    </tr>
    </tbody>
  </table>
</div>
