<div class="h-100 d-flex justify-content-center align-items-center shadow">
  <div class="card bg-black text-white p-4" style="width: 50%">
    <h3>Zaloguj</h3>
    <hr>

    <form [formGroup]="form!" (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [formControlName]="'email'">
      </div>
      <div class="form-group mt-5">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [formControlName]="'password'">
      </div>

      <hr>
      <button type="submit" class="btn btn-primary mt-5">Zaloguj</button>
    </form>

  </div>
</div>
