<div *ngIf="offer$ | async as offer" class="row">
  <div class="col-12 col-lg-6">
    <img alt="" class="w-100" src="{{offer.imageUrl2}}">
  </div>
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">Podstawowe dane</h5>
    <hr>
    <div class="d-flex ">
      <div class="col-6">Tytuł</div>
      <div class="col-6">{{offer.title}}</div>
    </div>
    <div class="d-flex mt-3">
      <div class="col-6">Cena</div>
      <div class="col-6">{{offer.price}} <small style="font-weight: bold; font-size: 9px">PLN</small></div>
    </div>
  </div>

  <h5 class="mt-3">Opis</h5>
  <hr>
  <p>
    {{offer.description}}
  </p>

  <h5 class="mt-3">Dane lokalizacyjne</h5>
  <hr>

  <table class="table">
    <tbody>
    <tr>
      <td>Adres</td>
      <td>{{offer.address}}</td>
    </tr>
    <tr>
      <td>Kod pocztowy</td>
      <td>{{offer.zipCode}}</td>
    </tr>
    <tr>
      <td>Miasto</td>
      <td>{{offer.city}}</td>
    </tr>
    </tbody>
  </table>

  <h5 class="mt-3">Dane kontaktowe</h5>
  <hr>

  <table class="table">
    <tbody>
    <tr>
      <td>Email</td>
      <td>{{offer.email}}</td>
    </tr>
    <tr>
      <td>Telefon</td>
      <td>{{offer.phone}}</td>
    </tr>
    <tr>
      <td>Strona internetowa</td>
      <td>{{offer.website}}</td>
    </tr>
    </tbody>
  </table>

  <h5 class="mt-5">Lista walut</h5>
  <hr>

  <app-list-item-currency-panel [offer]="offer"></app-list-item-currency-panel>
</div>
