<div class="d-flex h-100">
  <div class="col-sm-2 col-xl-2 bg-black text-white h-100 d-flex flex-column" style="max-width: 300px;">
    <a class="navbar-brand" [routerLink]="['/']">HouseMarketingAdvisor</a>
    <hr>

    <ul class="list-unstyled">
      <li [routerLink]="['/employee', 'add']" [routerLinkActive]="'link-active'">Dodaj ofertę</li>
      <li [routerLink]="['/employee', 'offer-list']" [routerLinkActive]="'link-active'">Lista ofert</li>
    </ul>
  </div>



  <div class="col-sm-10 col-xl-10 px-4 py-5 h-100 flex-grow-1">
    <div class="h-100 w-100 shadow" style="background-color: #eee;">
      <router-outlet class=""></router-outlet>
    </div>
  </div>
</div>
