:host {
  display: block;
  height: 100vh;
  width: 100%;

  li {
    display: block;
    height: 50px;
    border-bottom: 1px solid #e8e8e8;
    line-height: 50px;
    padding: 0 20px;

    &.link-active {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 2%;
        bottom: 50%;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #1890ff;
        transform: translateY(50%);
      }
    }
  }
}
