<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" [routerLink]="['/']">HouseMarketingAdvisor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLink]="'/offers/list'" [routerLinkActive]="['border-bottom', 'border-primary']" >
        <a class="nav-link" >Oferta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/currency'" [routerLinkActive]="['border-bottom', 'border-primary']">Waluty</a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0 mx-3">
    <a class="btn btn-outline-warning" [routerLink]="['/auth', 'login']">Zaloguj</a>
  </form>

</nav>
