<app-list-filters (onFiltersChange)="applyFilters($event)"></app-list-filters>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Tytuł</th>
<!--      <th scope="col">Cena</th>-->
      <th scope="col">opis</th>
      <th scope="col" class="text-center">Akcje</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let offer of offers$ | async | slice:activePage * 15: activePage * 15 + 15 ">
      <th>{{offer.id}}</th>
      <td>{{offer.title}}</td>
      <td>{{offer.description}}</td>
      <td class="d-flex justify-content-center" style="gap: 5rem">
        <button class="btn btn-danger" (click)="delete(offer)">Usuń</button>
        <span>|</span>
        <button class="btn btn-primary" (click)="edit(offer)">Edytuj</button>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example " class="d-flex justify-content-end mt-3">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" (click)="goToPreviousPage()">Poprzednia strona</a></li>
    <li class="page-item" [class.active]="activePage === page"  *ngFor="let page of getTotalPages()" (click)="changePage(page)"><a class="page-link"
    >{{page + 1}}</a></li>
    <li class="page-item"><a class="page-link" (click)="goToNextPage()">Następna strona</a></li>
  </ul>
</nav>


