<app-list-filters (onFiltersChange)="applyFilters($event)"></app-list-filters>
<app-list-item *ngFor="let offer of offers$ | async | slice:activePage * 10: activePage * 10 + 10 " [offer]="offer"></app-list-item>
<nav aria-label="Page navigation example " class="d-flex justify-content-end mt-3">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" (click)="goToPreviousPage()">Poprzednia strona</a></li>
    <li class="page-item" [class.active]="activePage === page"  *ngFor="let page of getTotalPages()" (click)="changePage(page)"><a class="page-link"
                             >{{page + 1}}</a></li>
    <li class="page-item"><a class="page-link" (click)="goToNextPage()">Następna strona</a></li>
  </ul>
</nav>
