<table class="table table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nazwa</th>
    <th scope="col">Wartość do waluty</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let currency of currency; let i = index">
    <th scope="row">{{i + 1}}</th>
    <td>{{currency.baseCurrency}}</td>
    <td>{{currency.rate}}</td>
  </tr>
  </tbody>

</table>

<nav aria-label="Page navigation example " class="d-flex justify-content-end mt-3">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" (click)="goToPreviousPage()">Poprzednia strona</a></li>
    <li class="page-item" [class.active]="activePage === page"  *ngFor="let page of getTotalPages()" (click)="changePage(page)"><a class="page-link"
    >{{page + 1}}</a></li>
    <li class="page-item"><a class="page-link" (click)="goToNextPage()">Następna strona</a></li>
  </ul>
</nav>
