<div *ngIf="form" class="d-flex">
  <form (ngSubmit)="submitForm()" [formGroup]="form" class="d-flex flex-column">
    <div class="d-flex">
      <div class="col-4">

        <div class="form-group">
          <label for="price">Cena od</label>
          <input
            [formControlName]="getFormControlByKey('minPrice')"
            class="form-control"
            id="price"
            placeholder="Wpisz cenę od"
            type="number"
          />
        </div>

        <div class="form-group">
          <label for="price_to">Cena do</label>
          <input
            [formControlName]="getFormControlByKey('maxPrice')"
            class="form-control"
            id="price_to"
            placeholder="Wpisz cenę do"
            type="number"
          />
        </div>

      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="title">Tytuł</label>
          <input
            [formControlName]="getFormControlByKey('title')"
            class="form-control"
            id="title"
            placeholder="Wpisz tytuł"
            type="text"
          />
        </div>

        <div class="form-group">
          <label for="city">Miasto</label>
          <input
            [formControlName]="getFormControlByKey('city')"
            class="form-control"
            id="city"
            placeholder="Wpisz miasto"
          />
        </div>

      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="zipCode">Kod pocztowy</label>
          <input
            [formControlName]="getFormControlByKey('zipCode')"
            class="form-control"
            id="zipCode"
            placeholder="Wpisz kod pocztowy"
          />
        </div>

        <div class="form-group">
          <label for="country">Państwo</label>
          <input
            [formControlName]="getFormControlByKey('country')"
            class="form-control"
            id="country"
            placeholder="Wpisz nazwę państwa"
          />
        </div>
      </div>
    </div>

    <div class="form-group d-flex align-items-en flex-column">
      <button class="btn btn-primary w-100" type="submit">Filtruj</button>
      <hr>
      <button class="btn btn-outline-secondary w-100" type="button" (click)="clearFilters()">Wyczyść filtry</button>
    </div>

  </form>
</div>
