.picsum-img-wrapper {
  display: flex;
  justify-content: center;
}

#card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;

  margin: 3rem 0;

  .card {
    width: 100%;
  }

  .card-img-top {
    height: 15rem;
    object-fit: cover;
  }
}
